:root {
    --celadon: #0081a7;
    --lightBlue: #dcedff;
    --pink: #cc8b86;
    --darkPurple: #413f54;
    --offBlack: #30292f;
    --shadow: rgba(128, 128, 128, .5)
}

/* TODO: Google Fonts */
* {
    margin: 8px;
}

body {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
}

header {
    width: 100%;
    text-align: center;
    background-image: linear-gradient(to bottom right, var(--darkPurple), var(--celadon));
    color: var(--lightBlue);
    border-radius: 8px;
}

aside {
    display: block;
    border: 2px solid var(--offBlack);
    width: 20%;
    padding: 8px;
    text-align: center;
}

aside>h2 {
    color: var(--darkPurple);
    border-bottom: 2px solid var(--shadow);
}

#city-search {
    resize: none;
    margin: 0 auto;
    width: 65%;
}

.submit {
    display: block;
    margin: 4px auto;
    border: none;
    background-color: var(--celadon);
    color: var(--lightBlue);
    border-radius: 8px;
    padding: 4px;
    width: 65%;
}

.submit:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: all 250ms ease;
    background-color: var(--pink);
    color: var(--offBlack);
    box-shadow: 5px 5px 5px var(--shadow);
}

.history button {
    display: block;
    margin: 6px auto;
    border: none;
    background-color: var(--darkPurple);
    color: var(--lightBlue);
    width: 65%;
    border-radius: 8px;
    padding: 4px;
}

.history button:hover {
    cursor: pointer;
    transform: translateY(-4px);
    transition: all 250ms ease;
    background-color: var(--celadon);
    color: var(--lightBlue);
    box-shadow: 5px 5px 5px var(--shadow);
}

.current-city {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-flow: row wrap;
}

.current-city section {
    display: flex;
    width: 100%;
    justify-content: center;
}

.current-list {
    width: 100%;
    text-align: center;
    margin: 0 0 0 35%;
}

.current-list p {
    width: 20%;
    border-radius: 4px;
    padding: 2px;
}

.current-city>p {
    width: 100%;
    font-size: large;
    font-weight: bold;
    text-shadow: 2px 2px var(--shadow);
}

.five-days {
    margin: 8px;
    background-color: var(--celadon);
    padding: 8px;
    border-radius: 8px;
    color: var(--lightBlue)
}

.five-days:hover {
    transform: scale(1.1);
    transition: all 250ms ease;
}